* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  
  #notfound {
    position: relative;
    height: 100vh;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 1000px;
    width: 100%;
    padding-left: 190px;
    line-height: 1.4;
  }
  
  .notfound .notfound-404 {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 150px;
  }
  
  .notfound .notfound-404 h1 {
    color: #0d47a1;
    font-size: 150px;
    letter-spacing: 15.5px;
    margin: 0px;
    font-weight: 900;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound h2 {
    color: #292929;
    font-size: 28px;
      font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-top: 0;
  }
  
  .notfound p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
    color: #333;
  }
  
  .notfound a {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #0d47a1;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    font-weight: 700;
    transition: 0.2s all;
  }
  
  .notfound a:hover {
    color: #0d47a1;
    background-color: #fff;
  }
  
  @media only screen and (max-width: 480px) {
    .notfound {
      text-align: center;
    }
    .notfound .notfound-404 {
      position: relative;
      width: 100%;
      margin-bottom: 15px;
    }
    .notfound {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  